[Desktop Entry]
Version=1.0
Name=scrcpy
Comment=Display and control your Android device 
Exec=/snap/bin/scrcpy
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/scrcpy/scrcpy.png
Categories=GNOME;GTK;Development;
StartupNotify=true
Actions=Record;Start and show touches;

[Desktop Action Record]
Name=Record
Exec=/snap/bin/scrcpy --record scrcpy.mp4

[Desktop Action Start and show touches]
Name=Start and show touches
Exec=/snap/bin/scrcpy --show-touches
